global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 2048
    ssl-default-bind-options ssl-min-ver TLSv1.2

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s

# Redirection HTTP vers HTTPS
frontend fe_web_http
    bind 192.168.10.100:80

# Frontend HTTPS
frontend fe_web
    bind 192.168.10.100:443 ssl crt /etc/ssl/novasante/portail.pem
    default_backend be_web

    # En-têtes de sécurité
    http-response set-header Strict-Transport-Security "max-age=31536000; includeSubDomains"
    http-response set-header X-Content-Type-Options "nosniff"
    http-response set-header X-Frame-Options "DENY"

# Backend
backend be_web
    balance roundrobin
    cookie SERVERID insert indirect nocache
    option httpchk GET /health.php
    http-check expect status 200
    server web1 192.168.20.21:80 check cookie web1 inter 2s fall 3 rise 2
    server web2 192.168.20.22:80 check cookie web2 inter 2s fall 3 rise 2

# Page de statistiques (réservée au réseau HA-SYNC)
listen stats
    bind 10.99.99.11:8404
    stats enable
    stats uri /stats
    stats refresh 5s
    stats auth admin:__MOT_DE_PASSE_DANS_GESTIONNAIRE__
